<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>neuroapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E56E56CB1D77D534009DC46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56E56E11D77D534009DC46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56E56EC1D77D534009DC46E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
